.pt10 {
    padding-top: 10px;
}
.pb10 {
    padding-bottom: 10px;
}
.p20 {
    padding: 20px;
}
.pt20 {
    padding-top: 20px;
}
.pb20 {
    padding-bottom: 20px;
}
.pl20 {
    padding-left: 20px;
}
.pr20 {
    padding-right: 20px;
}
.mt20 {
    margin-top: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.ml20 {
    margin-left: 20px;
}
.mr20 {
    margin-right: 20px;
}
.ib {
    display: inline-block;
}
.width100 {
    width: 100px;
}
.width200 {
    width: 200px;
}
.w1000 {
    width: 1000px;
}
.scroll {
    overflow: scroll;
}
